.bottom_header{
    margin-top: 10px;
}

.profile{
    margin-left: 20vw;
}

.navbar-brand{
    margin-top:1rem;
}

.searcher{
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 20px;
}

body{
    width: 100%;
    background-image: linear-gradient(rgba(0, 16, 46, 0.550),rgba(0, 16, 46, 0.65)) , url("/node_modules/img/bakgrunn_1.jpg");
    background-position: center;
    background-size: cover;
}

.second_nav{
    max-width: 80vw;
    margin-bottom: 1.5rem;
}

.navbar2{
    border-radius: 10px;
}

.navbartext {
    text-align: center;
}

.second_nav ul {
    justify-content: space-evenly ;
    width: 100%;
    list-style-type: none;
    margin: 20px 0px;
    padding: 0;
}
li {
    display: inline;
    border-right: 1px solid grey;
    padding: 20px 4rem;
}
 li:last-child {
    border-right: none;
  }


.container-box {
    background-color: white;
    height: 40vh;
    width: 70vw;
    margin:0px 20px;
}

.flex-container {
    justify-content: space-between;
    display: flex;
    flex-direction: row ;
    width: 100%;
}
