.NGH-blue {
    background-color: #00102e;
}

.NGH-white {
    color: #FFFF;
}

.sharepoint {
    color: white;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica,sans-serif;
    font-size:24px;
    margin-top: 1rem;
    padding-left: 8vw;
}

@media only screen and (max-width: 1500px) {
    .sharepoint {
      display:none;
    }
  }

.sharepoint:hover{
    color: white;
}

.row{
    padding-left:0;
}

.bottom_header{
    margin-top: 10px;
}

.sharenav ul{
    color: white;
    max-width:80vw;
    margin:auto;
    padding: 0;
 
  }

.profile{
    margin-left: 13vw;
}

.navbar2{
    max-width: 80vw;
}

/*  edit over here   */ 

.profile img{
    border-radius: 50%;
}


.searcher{
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 20px;
}

body{
    color: #00102e;
    width: 100%;
    background-image: linear-gradient(rgba(0, 16, 46, 0.550),rgba(0, 16, 46, 0.65)) , url("img/bakgrunn_1.jpg");
    background-position: center;
    background-size: cover;
    overflow: overlay;

}

li{
    list-style: none;
    padding: 2vh 0;
}




 .second_nav li:last-child {
    border-right: none;
  }


.container-box {
    display: block;
    background-color: white;
    height: 40vh;
    width: 38vw;
    margin: 0.1vw 1vw;
    border-radius: 10px;
    max-width: 38vw;
    overflow: hidden;
}

.container-sox {
    background-color: white;
    height: 40vh;
    border-radius: 10px;
    max-width: 80vw;
    margin: auto;
}

.container-nox {
    background-color: white;
    height: 40vh;
    border-radius: 10px;
    max-width: 80vw;
    margin: auto;
    padding: 0;
    margin-top: 0.5vh;
}


.container-box img {
    width:100%;
    height:100%;
    border-radius: 10px;

}

 .content-image {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.45)) , url("img/bakgrunn5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.flex-container {
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    justify-content: center;
    max-width: 80vw;
    max-height: 40vh;
    
}

.second_row{
margin-top:15px;
}

.navbar-brand{
margin-top:1rem;
}



.navbar2{
border-radius: 10px;
}

.navbartext {
text-align: center;
}

.second_nav li {
    display: inline;
    padding: 20px 3.3vw;
    border-right: 1px solid grey;


}

.second_nav ul {
justify-content: space-evenly ;
width: 100%;
list-style-type: none;
margin: 2vh 0px;
padding: 0;
}


.second_nav{
display: flex;
justify-content: space-evenly;
align-items: center;
max-width: 82vw;
width: 82vw;
white-space: nowrap;
margin-bottom: 1.5rem;
}



.second_nav a{
    font-size: 1vw;
}

.second_nav li:hover {
text-decoration: underline #00102e;
}



.checkers{
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
}

.oppgaver{
    margin: 1rem 0 1rem 0.9rem;
}



.tester1{
    max-height: 40vh;
    overflow-y: scroll;
    overflow: overlay;
}


#scrollbar::-webkit-scrollbar-track
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

#scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

#scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: gainsboro;
}

.center-content{
    justify-content: center;
    text-align: center;
    color: white;
    margin: 0 auto;
    overflow: auto;
}

.center-content h1{
    margin-top: 2vh;
    margin-bottom: 1rem;
}

.center-content h5{
    margin-bottom: 5rem;
}

.round-btn{
    color: #00102e;
    margin: 0 auto;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.round-btn:hover{
    background-color: rgba(255, 208, 10, 1);
    box-shadow: 0px 15px 20px rgba(255, 208, 10, 0.4);
    color: #00102e;
    transform: translateY(-7px);
}

.round-btn:active{
    transform: translateY(-1px);
}

.btn{
    background-color: rgba(255, 208, 10, 1);
    margin: 1rem 0 1rem 0.9rem;
    padding: 0.5em 1.5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    margin-top: 10%;}

.btn:hover{
    text-decoration: underline #00102e;
}

.dokument-box{
    width: 4rem;
    height: 4rem;
    margin: 0.5rem 3rem;
    padding: 0;
}

.dokument-box p{
    font-size: 0.8em;
}

.content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem 0 1rem 0;
    
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 100%;
   }
   
   .input {
    width: 20vw;
    height: 40px;
    line-height: 28px;
    padding: 0 4vw;
    padding-left: 2.5vw;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(255, 208, 10, 0.5);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }

   .projects{
       justify-content: center;
       margin-bottom: 2vh;
   }

   #clock{
    font-family: Arial, "Helvetica Neue", Helvetica,sans-serif;
    font-size:36px;
    text-align: center;
   }

   #counter-display{
        font-family: Arial, "Helvetica Neue", Helvetica,sans-serif;
        font-size:36px;
        text-align: center;
    
   }

    .stamps {
    padding: 1.3em 3em;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #FFFF;
    background-color: #00102e;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 1rem;
    margin-right: 1rem;
   }
   
   .stamps:hover {
    background-color: rgba(255, 208, 10, 1);
    box-shadow: 0px 15px 20px rgba(255, 208, 10, 0.5);
    color: #fff;
    transform: translateY(-7px);
   }
   
   .stamps:active {
    transform: translateY(-1px);
   }

#sout{
    display: none;
}
#scim{
    display: none;
}

.activated{
    text-decoration: underline;
}

.soon{
    text-align: center;
    margin-top: 20vh;
    color:white;
}

.test{
    text-align: center;
}